body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    height: 30px;
    width: 125px;
    border-radius: 15%;
}

.footer {
    background-color: #1f2937;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-link-text ul {
    gap: 25px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.hero button {
    border-color: #1f2937;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image img {
    width: 500px;
    height: 250px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    gap: 50px;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.information-cards {
    display: flex;
}

.information-cards ul {
    gap: 50px;
}

.information-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information-image img {
    width: 200px;
    height: auto;
    border-radius: 15%;
}

.information-caption {
    width: 200px;
    text-align: center;
}

.call-to-action {
    background-color: #3882f6;
}

.call-to-action button {
    border-color: #e5e7eb;
}

.cta-title {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.cta-text {
    color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.quote-text {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-weight: 800;
    color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.footer-text {
    color: #e5e7eb;
}